<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
		<div class="container">
			<h1>{{ user.id }}</h1>
			<ul class="list-group">
			  <li class="list-group-item">Full name: {{ user.first_name }} {{ user.last_name }}</li>
			  <li class="list-group-item">Email: {{ user.email }}</li>
			  <li class="list-group-item">Created At: {{ user.created_at }}</li>
			</ul>
			<p><a href="/users/{{user.id}}/edit/">Edit</a> <a href="/users/{{user.id}}/destroy/">Delete</a></p>
			</div>
		</body>
	</html>